[build]
target = "index.html"
dist = "dist"

[watch]
watch = ["src", "index.html", "public"]
ignore = ["dist"]

[serve]
address = "127.0.0.1"
port = 3030
open = false

[[hooks]]
stage = "build"
command = "./tailwindcss"
command_arguments = ["-i", "input.css", "-o", "public/main.css", "--minify"]

[[hooks]]
stage = "post_build"
command = "sh"
command_arguments = ["-c", "cp -r public/* dist/ 2>/dev/null || true"]
